Hello there! Here below is the entire Notebook in which I have tried to accumulate all the basic stuff required to learn Python. You can create a copy of this Notebook by heading over to the File Section in the Tool bar above and experiment with it. I hope this helps you and this attempt of mine on teaching Python is useful to you.

I have explained this entire Notebook on my YouTube Channel. Here's the Link to the [Entire Course Playlist](https://youtube.com/playlist?list=PLcBssFe--QC8up8arcTSwjTntb32mWGbB) go check it out!

Cheers!

-Kev

#Variables

In [ ]:
#Taking Input from the User
k = input("Enter Your Name: ")

#Printing Things
print("Hello", k)

Enter Your Name: Kevin
Hello Kevin

In [ ]:
#Summation
a = int(input("Enter Number 1: "))
b = int(input("Enter Number 2: "))

print(a + b)

Enter Number 1: 5
Enter Number 2: 10
15

In [ ]:
#Casting
k = 60
p = str(k)

print(type(p))
print(p)
print(k)

<class 'str'>
60
60

#Numbers

In [ ]:
a = int(input("Enter Number 1: "))
b = int(input("Enter Number 2: "))

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

c = a / b
print(type(c))

Enter Number 1: 10
Enter Number 2: 4
14
6
40
2.5
2
2
10000
<class 'float'>

#Strings

In [ ]:
name_1 = "kevin\"s"
name_2 = "kevin\nkaria"

firstname = "kevin"
lastname = "karia"

name = 3 * firstname + lastname

fullname = "kevin" "karia"

print(name_1)
print()
print(name_2)
print()
print(name)
print()
print(fullname)
print()
len(fullname)

kevin"s

kevin
karia

kevinkevinkevinkaria

kevinkaria

10

In [ ]:
#Indexing
name = "KevinKaria"
print(name[3])

#Slicing
print(name[3:8])
print(name[3:])
print(name[:8])

#not possible
#name[5] = "L" 

#-ve Indexing
print(name[-4])
print(name[-4:-1])

i
inKar
inKaria
KevinKar
a
ari

#Lists

In [ ]:
# Define Lists
student = ["Kevin", 19, "M"]

print(student)
print(student[1])
print(student[0:2])
print()

#Nested Lists
class_data = [["Kevin", 19, "M"], ["David", 19, "M"], ["Riya", 19, "F"] ]
print(class_data)
print(class_data[2])
print(class_data[1][0])
print(class_data[1][0:2])

['Kevin', 19, 'M']
19
['Kevin', 19]

[['Kevin', 19, 'M'], ['David', 19, 'M'], ['Riya', 19, 'F']]
['Riya', 19, 'F']
David
['David', 19]

In [ ]:
#Functions on Lists
list_new = [3, 5, 7 , 9, 11]
print(list_new)

list_new.append(13)
print(list_new)

list_new.pop()
print(list_new)

list_trail = [13, 15, 17]
list_new.extend(list_trail)
print(list_new)

list_new.insert(4, 10)
print(list_new)

list_new.pop(4)
print(list_new)

list_new.remove(17)
print(list_new)

list_new.append(7)
print(list_new.count(7))
list_new.pop()

list_new.reverse()
print(list_new)

list_copy = list_new.copy()
print(list_copy)

list_new.clear()
print(list_new)

[3, 5, 7, 9, 11]
[3, 5, 7, 9, 11, 13]
[3, 5, 7, 9, 11]
[3, 5, 7, 9, 11, 13, 15, 17]
[3, 5, 7, 9, 10, 11, 13, 15, 17]
[3, 5, 7, 9, 11, 13, 15, 17]
[3, 5, 7, 9, 11, 13, 15]
2
[15, 13, 11, 9, 7, 5, 3]
[]
[15, 13, 11, 9, 7, 5, 3]

#Loops

In [ ]:
#For Loop

numbers = [ 1, 3, 5, 7, 9, 11]
for k in numbers:
  print(k)

print()

num = 10
for i in range(5):
  num = num + 2
  print(num)

print()

for i in range(0, 6, +2):
  num = num + 2
  print(num)

print()

for i in range(0, 4):
  num = num + 2
  print(num)

1
3
5
7
9
11

12
14
16
18
20

22
24
26

28
30
32
34

In [ ]:
#While Loop

num = 10

while num>3:
  print(num)
  num = num - 1

10
9
8
7
6
5
4

In [ ]:
#Nested Loops
class_data = [["Kevin", 19, "M"], ["David", 19, "M"], ["Riya", 19, "F"]]

for k in class_data:
  for p in k:
    print(p)
  print()

Kevin
19
M

David
19
M

Riya
19
F

# Conditions

In [ ]:
#Else If Statements
marks = int(input("Enter Your Marks: "))

if marks>85:
  print("Your Grade is A!")
elif marks>65:
  print("Your Grade is B!")
elif marks>50:
  print("Your Grade is C!")
else:
  print("You Have Failed!")

Enter Your Marks: 65
Your Grade is C!

In [ ]:
#Break Statement
numbers = [1, 3, 5, 7, 9, 10, 11, 13, 15]
odd = []

for k in numbers:
  if k % 2 == 0:
    break
  odd.append(k)

print("Out of the Loop!")
print(odd)

Out of the Loop!
[1, 3, 5, 7, 9]

In [ ]:
#Continue Statement
numbers = [1, 3, 5, 7, 9, 10, 11, 13, 15]
odd = []

for k in numbers:
  if k % 2 == 0:
    continue
  odd.append(k)

print(odd)

[1, 3, 5, 7, 9, 11, 13, 15]

In [ ]:
#Else with Loops
numbers = [1, 3, 5, 7, 9, 10, 11, 13, 15]

for k in numbers:
  if k % 2 == 0:
    print("There are Even Numbers in the List!")
    break
else:
  print("There are no Even Numbers in the List!")

There are Even Numbers in the List!

In [ ]:
#Match Statement - Making a Calculator
#Wont work in Colab as its Current Python Version is 3.8.15 we need it to be >3.10

"""
a = int(input("Enter Number 1: "))
b = int(input("Enter Number 2: "))
print("1] Addition\n2] Subtraction\n3] Multiplication\n4] Division")
c = input("Enter Your Choice: ")

match c:
  case "1": 
    print(a + b)
  case "2":
    print(a - b)
  case "3":
    print(a * b)
  case "4":
    print(a / b)
  case _:
    print("Invalid Input")
"""

#Functions

In [ ]:
#Functions
def addition(a, d):
  c = a + d
  #print(c)
  return c


p = int(input("Enter Number 1: "))
q = int(input("Enter Number 2: "))
addition(q, p)

Enter Number 1: 10
Enter Number 2: 20

30

In [ ]:
#Default Parameters
def greet(d, a="Good Morning "):
  c = a + d
  print(c)
  #return c

greet("David!", "Good Afternoon ")
greet("Kevin!")

Good Afternoon David!
Good Morning Kevin!

In [ ]:
#Unknown number of Parameters
def addition(*a):
  """This Function will perform addition of all the numbers given as input."""
  sum = 0
  for i in a:
    sum = sum + i
  return sum

addition(5, 10, 15, 20, 30)

80

In [ ]:
#KeyWord Arguments

def addition(a, d, c, e, f):
  c = a + d * c / e + f
  #print(c)
  return c

print(addition(a = 10, d = 5, e = 30, f = 20, c = 12))
print(addition(10, 5, 30, 20, 12))

32.0
29.5

In [ ]:
#Unknown Number of KeyWord Arguments

def addition(**a):
  c = a["d"] + a["f"]
  #print(c)
  return c

print(addition(a = 10, d = 5, e = 30, f = 20, c = 12))

25

In [ ]:
#Recursion

def fact(n):
  while n>1:
    return n * fact(n-1)
  return n

fact(10)

3628800

In [ ]:
#Lambda Functions
squ = lambda x: x ** 2

squ(5)

25

In [ ]:
#Using Lambda Functions as Anonymous Functions inside a function
def master(n):
  return lambda x: x ** n

squarer = master(2)
# squarer = lambda x: x ** 2
cuber = master(3)
# cuber = lambda x: x ** 3

print(squarer(5))
print(cuber(10))

25
1000

#Data Structures using Lists

In [ ]:
#Stacks
stack = []

stack.append("Kevin")
print(stack)
stack.append("David")
stack.append("John")
print(stack)

stack.pop()
print(stack)

['Kevin']
['Kevin', 'David', 'John']
['Kevin', 'David']

In [ ]:
#Queues

def dequeue(listt):
  for i in range(len(listt)-1):
    listt[i] = listt[i + 1]
  listt.pop()
  return listt

queue = []

queue.append("Kevin")
queue.append("David")
queue.append("John")
print(queue)

queue = dequeue(queue)

print(queue)

['Kevin', 'David', 'John']
['David', 'John']

In [ ]:
#Comprehending Lists

n = int(input("Enter the Number of Elements in Your List: "))
user_list = []

for i in range(n):
  k = int(input("Enter Your Number: "))
  user_list.append(k)

print(user_list)

Enter the Number of Elements in Your List: 5
Enter Your Number: 1
Enter Your Number: 2
Enter Your Number: 3
Enter Your Number: 4
Enter Your Number: 5
[1, 2, 3, 4, 5]

In [ ]:
#Comprehending Nested Lists
 
n = int(input("Enter the Number of Rows in Your Matrix: "))
matrix = []

for i in range(n):
  row = []
  m = int(input("Enter the Number of Elements in Row {0}: ".format(i+1)))
  for j in range(m):
    k = int(input("Enter Value {0}: ".format(j+1)))
    row.append(k)
  matrix.append(row)

print(matrix)

Enter the Number of Rows in Your Matrix: 3
Enter the Number of Elements in Row 1: 3
Enter Value 1: 1
Enter Value 2: 2
Enter Value 3: 3
Enter the Number of Elements in Row 2: 3
Enter Value 1: 4
Enter Value 2: 5
Enter Value 3: 6
Enter the Number of Elements in Row 3: 3
Enter Value 1: 7
Enter Value 2: 8
Enter Value 3: 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#Creating Lists using a Map Function

def squares(n):
  return n ** 2

list_begin = [1, 3, 6, 9, 10, 13]

list_ans = list(map(squares, list_begin))
print(list_ans)

[1, 9, 36, 81, 100, 169]

#Tuples & Sets

In [ ]:
#Tuples
t = ("Kevin", 19, 4.0)
print(t[0])
print(t[1])

print(t)

k = list(t)
k[0] = "David"
t = tuple(k)

print(t)

#Another Faster Method to Declare Tuples
p = "John", 20, 3.9
print(p)

Kevin
19
('Kevin', 19, 4.0)
('David', 19, 4.0)
('John', 20, 3.9)

In [ ]:
#Sets

set_1 = {0, 1, 3, 3, 5, 7, 7, 8, 9, 9, 10}
print(set_1)

set_2 = set("KevinKaria")
print(set_2)

set_3 = {1, 3, 4, 6, 7, 9, 11, 13, 15}
set_4 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

print(set_3 - set_4)
print(set_3 | set_4)
print(set_3 & set_4)
print(set_3 ^ set_4)

{0, 1, 3, 5, 7, 8, 9, 10}
{'e', 'v', 'r', 'n', 'K', 'a', 'i'}
{11, 13, 15}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15}
{1, 3, 4, 6, 7, 9}
{2, 5, 8, 10, 11, 13, 15}

#Dictionaries

In [ ]:
#Dictionary

class_data = {"Kevin": 19, "David": 20, "John":21}
print(class_data)
print(class_data["John"])
class_data["Mark"] = 19
print(class_data)
del class_data["Mark"]
print(class_data)

print(list(class_data))
print(sorted(class_data))

#Converting a List of Tuples to Dictionaries
class_tup = [("Kevin", 19), ("David", 20), ("John", 19)]
class_dict = dict(class_tup)
print(class_dict)

{'Kevin': 19, 'David': 20, 'John': 21}
21
{'Kevin': 19, 'David': 20, 'John': 21, 'Mark': 19}
{'Kevin': 19, 'David': 20, 'John': 21}
['Kevin', 'David', 'John']
['David', 'John', 'Kevin']
{'Kevin': 19, 'David': 20, 'John': 19}

In [ ]:
#Looping through Dictionaries

class_data = {"Kevin": 19, "David": 20, "John":21}
print(class_data.items())

empty_dict = {}
for keys, values in class_data.items():
  if values % 2 != 0:
    empty_dict[keys] = values

print(empty_dict)

dict_items([('Kevin', 19), ('David', 20), ('John', 21)])
{'Kevin': 19, 'John': 21}

In [ ]:
#Using Zip on 2 Lists

list_key = ["Kevin", "David", "John"]
list_val = [19, 20, 21]

for keys, values in zip(list_key, list_val):
  print("The age of {0} is {1}!".format(keys, values))

The age of Kevin is 19!
The age of David is 20!
The age of John is 21!

#Classes & Inheritance

In [ ]:
#Defining a Class
class Student:
  def __init__(self, name, age, gender, marks):
    self.name = name
    self.age = age
    self.gender = gender
    self.marks = marks

  def print_det(self):
    print("The Details of the Student are: ")
    print(self.name)
    print(self.age)
    print(self.gender)
    print(self.marks)

  def __str__(self):
    return f"The name of the Student is {self.name}, their Gender is {self.gender}, their age is {self.age} & they scored {self.marks} marks!"


stu_1 = Student("Kevin", 19, "M", 90)
stu_2 = Student("David", 20, "M", 85)
stu_2.print_det()

print(stu_1)
print(stu_2)

stu_2.name = "John"
print(stu_2)

The Details of the Student are:
David
20
M
85
The name of the Student is Kevin, their Gender is M, their age is 19 & they scored 90 marks!
The name of the Student is David, their Gender is M, their age is 20 & they scored 85 marks!
The name of the Student is John, their Gender is M, their age is 20 & they scored 85 marks!

In [ ]:
#Inheritance

class person:
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender

class student(person):
  def __init__(self, name, age, gender, marks):
    person.__init__(self, name, age, gender)
    self.marks = marks

  def print_det(self):
    print("The Details of the Student are: ")
    print(self.name)
    print(self.age)
    print(self.gender)
    print(self.marks)

class teacher(person):
  def __init__(self, name, age, gender, subject):
    super().__init__(name, age, gender)
    self.subject = subject

  def print_det(self):
    print("The Details of the Teacher are: ")
    print(self.name)
    print(self.age)
    print(self.gender)
    print(self.subject)

stu_1 = student("Kevin", 19, "M", 90)
teach_1 = teacher("Jack", 30, "M", "Physics")

stu_1.print_det()
print()
teach_1.print_det()

The Details of the Student are:
Kevin
19
M
90

The Details of the Teacher are:
Jack
30
M
Physics

In [ ]:
#Single Inheritance

class parent:
  def __init__(self, parent_name):
    self.parent_name = parent_name

class child(parent):
  def __init__(self, child_name, parent_name):
    parent.__init__(self, parent_name)
    self.child_name = child_name
  
  def print_det(self):
    print("The Details of the Child are: ")
    print(self.child_name)
    print(self.parent_name)

child_1 = child("Kevin", "John")
child_1.print_det()

The Details of the Child are:
Kevin
John

In [ ]:
#Multiple Inheritance

class father:
  def __init__(self, father_name):
    self.father_name = father_name

class mother:
  def __init__(self, mother_name):
    self.mother_name = mother_name

class child(father, mother):
  def __init__(self, child_name, father_name, mother_name):
    father.__init__(self, father_name)
    mother.__init__(self, mother_name)
    self.child_name = child_name
  
  def print_det(self):
    print("The Details of the Child are: ")
    print(self.child_name)
    print(self.father_name)
    print(self.mother_name)

child_1 = child("Jack", "John", "Riya")
child_1.print_det()

The Details of the Child are:
Jack
John
Riya

In [ ]:
#Multilevel Inheritance

class grand_father:
  def __init__(self, grand_father_name):
    self.grand_father_name = grand_father_name

class father(grand_father):
  def __init__(self, father_name, grand_father_name):
    grand_father.__init__(self, grand_father_name)
    self.father_name = father_name

class child(father):
  def __init__(self, child_name, father_name, grand_father_name):
    father.__init__(self, father_name, grand_father_name)
    self.child_name = child_name
  
  def print_det(self):
    print("The Details of the Child are: ")
    print(self.child_name)
    print(self.father_name)
    print(self.grand_father_name)

child_1 = child("Jack", "John", "Johnny")
child_1.print_det()

The Details of the Child are:
Jack
John
Johnny

In [ ]:
#Hierarchical Inheritance

class father:
  def __init__(self, father_name):
    self.father_name = father_name

class sister(father):
  def __init__(self, sister_name, father_name):
    father.__init__(self, father_name)
    self.sister_name = sister_name

  def print_det(self):
    print("The Details of the Child are: ")
    print(self.sister_name)
    print(self.father_name)

class brother(father):
  def __init__(self, brother_name, father_name):
    father.__init__(self, father_name)
    self.brother_name = brother_name

  def print_det(self):
    print("The Details of the Child are: ")
    print(self.brother_name)
    print(self.father_name)

sis = sister("Riya", "Jack")
bro = brother("John", "Jack")

sis.print_det()
bro.print_det()

The Details of the Child are:
Riya
Jack
The Details of the Child are:
John
Jack

#Errors & Exceptions

In [ ]:
try:
  a = int(input("Enter Number 1: "))
  b = int(input("Enter Number 2: "))
  a/b
except(ZeroDivisionError):
  print("There is an Error!")
else:
  print("Successful Execution!")

Enter Number 1: 10
Enter Number 2: 5
Successful Execution!

In [ ]:
#Negative Number isnt Allowed
a = int(input("Enter Number: "))
if a<0:
  raise TypeError("Negative Numbers Not Allowed!")

Enter Number: 5

#Modules

In [ ]:
#These are the contents of calculator.py
def add(a, b):
    print(a + b) 

def sub(a, b):
    print(a - b)

def mul(a, b):
    print(a * b)

def div(a, b):
    print(a / b)

In [ ]:
"""
import calculator as cal

a = int(input("Enter Number 1: "))
b = int(input("Enter Number 2: "))

cal.add(a, b)
cal.sub(a, b)
cal.mul(a, b)
cal.div(a, b)
"""

#File Handling

In [ ]:
#Read Mode
f = open("/content/text.txt", "r")
print(f.read())
print(f.readline())
f.close()

Hi!
My Name is Kevin!
I Love to Code!
I'm  19 Years Old.

In [ ]:
#Write Mode
f = open("/content/text.txt", "w")
f.write("Kevin is Cool!")
f.close()

f = open("/content/text.txt", "r")
print(f.read())

Kevin is Cool!

In [ ]:
#Append Mode
f = open("/content/text.txt", "a")
f.write("/nKevin is Cool!")
f.close()

f = open("/content/text.txt", "r")
print(f.read())

Hi!
My Name is Kevin!
I Love to Code!
I'm  19 Years Old.Kevin is Cool!/nKevin is Cool!

In [ ]:
#Deleting a File
import os
os.remove("/content/text.txt")

In [ ]:
#Check if a File has been Deleted
import os
if os.path.exists("/content/text.txt",):
  print("File has not been Deleted")
  #os.remove("/content/text.txt")
else:
  print("File has been Deleted")

File has been Deleted